<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='myscript.js') }}"></script>

</head>
<body>
    <table>
    {% for i in range(2): %}
        
        <tr>
            {% for j in range(4): %}
            <td class="color1"></td>
            <td class="color2"></td>
            {% endfor %}
        </tr>
        <tr>
            {% for j in range(4): %}
            <td class="color2"></td>
            <td class="color1"></td>
            {% endfor %}
        </tr>
    {% endfor %}       
    </table>
</body>
</html>