        td{
            height: 75px;
            width: 75px;
        }
        
        .color1{
            
            background-color: red;
        }

        .color2{
            
            background-color:green;
        }